In [21]:
import pandas as pd
import numpy as np
import os
import urllib
import requests
%matplotlib inline

In [24]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data","covid")

In [26]:
os.makedirs(file_path,exist_ok = True)
csv_path= os.path.join(file_path,r"WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x1bf94988bb0>)

In [27]:
df = pd.read_csv(csv_path)

In [28]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [29]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  151206.000000      1.512060e+05  151206.000000      151206.000000
mean     1544.274195      3.372904e+05      31.595988        7743.686064
std      9609.605120      1.984441e+06     170.788517       38946.057223
min    -32952.000000      0.000000e+00     -60.000000           0.000000
25%         0.000000      4.000000e+01       0.000000           0.000000
50%        12.000000      4.537000e+03       0.000000          69.000000
75%       371.000000      8.129250e+04       5.000000        1346.000000
max    414188.000000      4.296694e+07    8786.000000      688099.000000

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151206 entries, 0 to 151205
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      151206 non-null  object
 1   Country_code       150568 non-null  object
 2   Country            151206 non-null  object
 3   WHO_region         151206 non-null  object
 4   New_cases          151206 non-null  int64
 5   Cumulative_cases   151206 non-null  int64
 6   New_deaths         151206 non-null  int64
 7   Cumulative_deaths  151206 non-null  int64
dtypes: int64(4), object(4)
memory usage: 9.2+ MB

In [56]:
df.columns = [col.strip() for col in df.columns]

In [57]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [59]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
151201       Zimbabwe
151202       Zimbabwe
151203       Zimbabwe
151204       Zimbabwe
151205       Zimbabwe
Name: Country, Length: 151206, dtype: object

In [60]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
151201       Zimbabwe
151202       Zimbabwe
151203       Zimbabwe
151204       Zimbabwe
151205       Zimbabwe
Name: Country, Length: 151206, dtype: object

In [64]:
df.New_cases.sum()

233503524

In [65]:
df.New_cases.max()

414188

In [69]:
df.loc[1:5, "Country"]

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
Name: Country, dtype: object

In [76]:
df.loc[(df.Country == "India") & (df.Date_reported > '2021-04-04'), ["New_deaths", "New_cases"]]

       New_deaths  New_cases
61706         478     103558
61707         446      96982
61708         630     115736
61709         685     126789
61710         780     131968
...           ...        ...
61881         276      26041
61882         179      18795
61883         378      18870
61884         311      23529
61885         277      26727

[180 rows x 2 columns]